li {
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 30px;
}
li.uncomplite {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}
li.complite {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.1);
}
li .liblock {
  display: flex;
  justify-content: space-between;
}
li .liblock .complite {
  color: green;
  width: 110px;
  padding: 5px;
  text-align: center;
}
li .liblock .uncomplite {
  color: red;
  width: 110px;
  padding: 5px;
  text-align: center;
}
li .liblock div.record {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
li .liblock div.record h2 {
  margin: 0;
  font-size: 1.2em;
}
li .liblock div.record input {
  width: 80%;
  text-align: center;
  font-weight: 600;
  margin: 3px 0;
}
li .liblock div.record textarea {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
li .liblock .delBtn {
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 2px;
  align-self: center;
  border-radius: 8px;
  transition: 0.2s;
}
li .liblock .delBtn:hover {
  background: rgba(255, 0, 0, 0.486);
  box-shadow: 0 0 10px red;
}