li {
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    transition: .3s;
    &.uncomplite {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.100); 
    }
    &.complite {
        border: 1px solid green;
        background-color: rgba(0, 255, 0, 0.100); 
    }

}
