li {
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    transition: .2s;
    margin-right: 30px;


    &.uncomplite {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.100);
    }

    &.complite {
        border: 1px solid green;
        background-color: rgba(0, 255, 0, 0.100);
    }

    .liblock {
        display: flex;
        justify-content: space-between;

        .complite {
            color: green;
            width: 110px;
            padding: 5px;
            text-align: center;
        }

        .uncomplite {
            color: red;
            width: 110px;
            padding: 5px;
            text-align: center;
        }

        div.record {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            flex: 1;
            align-items: center;

            h2 {
                margin: 0;
                font-size: 1.2em;
            }

            textarea {
                width: 100%;
                height: fit-content;
            }
        }
        .delBtn {
            height: fit-content;
            padding: 4px 2px;
            align-self: center;
            border-radius: 8px;
            transition: .2s;
            &:hover {
                background: rgba(255, 0, 0, 0.486);
                box-shadow: 0 0 10px red;
            }
        }
    }
}
