li {
    margin-bottom: 5px;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    transition: .2s;
    margin-right: 30px;
    
    
    &.uncomplite {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.100); 
    }
    &.complite {
        border: 1px solid green;
        background-color: rgba(0, 255, 0, 0.100); 
    }
    .liblock {
        display: flex;
        justify-content: space-between;

        div {
            width: 110px;
            padding: 5px;
            text-align: center;

            &.complite {
                color: green;
            }
            &.uncomplite {
                color: red;
            }
        }
        // div.record {
        //     display: flex;
        //     flex:1;
        //     height: 100%;
        // }
    }
    
}
