.container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : fit-content;

    p {
        margin: 0;
    }

    .buttons {
        button {
            margin: 2px;
            border-radius: 8px;
            transition: .2s;
            font-size: 10px;

            &.active {
                background-color: rgba(0, 128, 0, 0.441);
                &:hover {
                    box-shadow: 0 0 5px gold;
                }
            }
        }
    }
}