.checklist__bg {
    h1 {
        text-align: center;
    }
    .addrecord {
        margin: 0 auto;
        margin-left: 50%;
        transform: translate(-50%, 0);
        padding: 5px;
        border-radius: 8px;
        transition: .2s;

        &:hover {
            color:rgb(0, 0, 0);
            background: rgba(251, 255, 1, 0.8);
            box-shadow: 0 0 15px rgb(204, 174, 4);

        }
    }
}