.checklist__bg {
    h1 {
        text-align: center;
    }
    .addrecord {
        margin: 0 auto;
        margin-left: 50%;
        transform: translate(-50%, 0);
        padding: 5px;
        border-radius: 8px;
    }
}